.container {
    width: 300px;
    padding: 24px 12px;
    background-color: aliceblue;
}

.container * {
    width: 250px;
    margin: 15px auto;
}
select {
    outline: none;
    padding: 8px;
    border-radius: 8px;
}
option {
    background-color: aliceblue;
    font-size: 12px;
    padding: 5px auto;
}

button {
    height: 30px;
    padding: auto 30px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}